/************************************************
    RESET
************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, heaizq, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    borizq: 0;
    vertical-align: baseline;
}
sub, sup {
    margin: 0;
    padding: 0;
    borizq: 0;
}
/* HTML5 display-role reset for olizq browsers */
article, aside, details, figcaption, figure, 
footer, heaizq, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    borizq-collapse: collapse;
    borizq-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {     font-weight: normal;}



/************************************************
    ipad resets
************************************************/

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

div, span, a {    -webkit-tap-highlight-color: rgba(0,0,0,0);  }

/************************************************
    APP STYLES
************************************************/

#global{
    position: absolute;
    width: 1024px;
    height: 768px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}
.abs{
    position: absolute;
}


/*
 * css de la slide
*/
#global{
    background-image: url('../media/images/bg.png');
}


.btn{
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    
    
}
#btn1 {
    left: 8.5%;
    top: 2.7%;
    width: 8.8%;
    height: 9.5%;
}

#btn2{
    left: 51.4%;
    top: 63.7%;
    width: 21.8%;
    height: 8.5%;
}
#logo1{
    left: 5.4%;
    top: 86.7%;
    width: 12.8%;
    height: 9.5%;
}


.opcion{
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
#num1{
    background-image: url("../media/images/n1.png");
    background-size: 100%;
    left: 70.1%;
    top: 0.2%;
    width: 11.0%;
    height: 15.7%;
    z-index: 2;
}

/* IMG BTN MENU1 */


#arrow_footer{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 6.59%;
    z-index: 0;
}
#arrow_footer img{
    height: 50%;
    margin-top: 1.2%;
    margin-left: 1.4%;
}


.popup{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
}

.popup.active{
    z-index: 10;
    opacity: 1;
}

.popup_close{
    background: transparent url(../media/images/close.png) center no-repeat;
    position: absolute;
    top: 0%;
    left: 91%;
    width: 9%;
    height: 12%;
    border-radius: 100%;
    z-index: 1;
    background-size: 60%;
}

#btn_pop_1{
    position: absolute;
    top: 79%;
    left: 53%;
    width: 5%;
    height: 7%;
    z-index: 1;
}

#btn_pdf_1{
    position: absolute;
    top: 79%;
    left: 33%;
    width: 5%;
    height: 7%;
    z-index: 1;
}

#popup_1{
    position: absolute;
    background: transparent url(../media/images/popup.png) center no-repeat;
    background-size: 100%;
}

#video{
    position: absolute;
    top: 42%;
    left: 42%;
    width: 15%;
    height: 17%;
}

.btnmenu{
    position: absolute;
    top: 42%;
    left: 93%;
    width: 6%;
    height: 30%;

}
#btnmenu1{
    top: 2%;
    height: 35%;
}
#btnmenu2{
    top: 38%;
}
#btnmenu3{
    top: 69%;
}


#btn-servey {
    position: absolute;
    top: 18.3%;
    left: 2.6%;
    width: 6%;
    height: 7%;
}
#btn-home {
    position: absolute;
    top: 4.3%;
    left: 2.6%;
    width: 6%;
    height: 7%;
}#btn-ref {
    position: absolute;
    top: 11.5%;
    left: 3%;
    width: 6%;
    height: 7%;
}